/*###### MAIN STYLES######*/

@import'base/variables.scss';
@import'base/mixins.scss';

body{
	background: rgb(33,36,41);
	background: -moz-linear-gradient(top, rgb(33,36,41) 0%, rgb(33,36,41) 25%, rgb(33,36,41) 25%, rgb(249,249,251) 25%, rgb(249,249,251) 25%, rgb(249,249,251) 100%); 
	background: -webkit-linear-gradient(top, rgb(33,36,41) 0%,rgb(33,36,41) 25%,rgb(33,36,41) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 100%);
	background: linear-gradient(to bottom, rgb(33,36,41) 0%,rgb(33,36,41) 25%,rgb(33,36,41) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.navbar.bg-dark{
	background-color: $dark !important;
}
