/*###### MAIN STYLES######*/

@import'base/variables.scss';
@import'base/mixins.scss';

body{
	background: rgb(33,36,41);
	background: -moz-linear-gradient(top, rgb(33,36,41) 0%, rgb(33,36,41) 25%, rgb(33,36,41) 25%, rgb(249,249,251) 25%, rgb(249,249,251) 25%, rgb(249,249,251) 100%); 
	background: -webkit-linear-gradient(top, rgb(33,36,41) 0%,rgb(33,36,41) 25%,rgb(33,36,41) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 100%);
	background: linear-gradient(to bottom, rgb(33,36,41) 0%,rgb(33,36,41) 25%,rgb(33,36,41) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 25%,rgb(249,249,251) 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	
}
body.light{
	background: #f9f9fb;
    
	
}

.navbar.bg-dark{
	background-color: $dark !important;
}
.navbar{
	padding-left: 0;
	padding-right: 0;
	
	.navbar-nav{
		.nav-item{
		&:last-child{
			.nav-link{
				padding-right: 0; 
				}
			}
		}
	}
}

.jumbotron{
	background: url("../../img/header.jpg") no-repeat center center;
	background-size: cover;
	color: $light;
}

.card-img-top {
    height: 40%;
}

.footer-nav {
    background-color: #17191c !important;
}

img{
	width: 100%;
	
	
}

.about_me_main{
	background: #ffffff;
	
}
.about_me_main img{
	margin: 2rem;
	
}

.about_me_card-text{
	text-align:center;
	margin-bottom:2rem;
	}
	
.about_me_card_text{
	display: inline;
	padding: 2rem;
	
}

h4{
	font-style:bold;
	margin-bottom:2rem;
}

.asideh4{
	text-align:center;
}





